<section class="contact-us container">
  <div class="contact-us__icons">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
    </svg>
  </div>
  <div  class="contact-us__social">
    <div class="social-holder">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
      </svg>
      <span>09164300000</span>
    </div>
    <div class="social-holder">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
      </svg>
      <span>salehikamand@yahoo.com</span>
    </div>
    <div class="social-holder">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
      </svg>
      <span>تهران میدان رسالت خونه ما</span>
    </div>
                    
    
  </div>
  <div class="contact-us__map">
    <img src="./assets/images/map.png" alt="">
  </div>
  <div class="contact-us__form">
    <h3>نظرات شما</h3>
    <form class="contact-form">
      <input type="text" placeholder="نام و نام خانوادگی">
      <input type="email" placeholder="ایمیل خود را وارد کنید">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button class="btn btn--primary btn--block" type="submit">ثبت نظر</button>
    </form>
  </div>
</section>