<section class="feature container">
  <div class="feature__img-container">
    <img src="./assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="feature__desc">
    <h2>خدمات تپسی برای کسب و کارها</h2>
    <p>
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
      طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
      حال و آینده، شناخت فراوان جامعه و متخصصان را می
    </p>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
<section class="feature container">
  <div class="feature__image">
    <img src="./assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="feature__desc">
    <h2>خدمات تپسی برای کسب و کارها</h2>
    <p>
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
      طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
      حال و آینده، شناخت فراوان جامعه و متخصصان را می
    </p>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
